:host {
  margin-top: calc(var(--ion-safe-area-top) + 16px);
  margin-bottom: 16px;
  display: block;
  height: 200px;
  :hover {
    cursor: pointer;
  }

  ion-skeleton-text {
    height: 12px;
    margin-top: 12px;
  }
}
