<ion-card>
  <div
    class="reason ion-padding-start ion-padding-end"
    *ngIf="_reason(); let reason"
  >
    <p>
      <ion-icon name="repeat" />
      Reskeeted by {{ reason.by.displayName }}
    </p>
  </div>
  <ion-card-header (click)="goToProfile($event)">
    <ng-container *ngIf="_post(); let actor">
      <ion-avatar>
        <img
          [src]="actor?.author?.avatar"
          loading="lazy"
          decoding="async"
          [alt]="actor.author.displayName"
        />
      </ion-avatar>

      <div class="actor-post-info">
        <p>
          <span class="displayName">{{ actor.author.displayName }}</span
          >&nbsp;<span class="handle">@{{ actor.author.handle }}</span>
        </p>
        <p>&nbsp; ∙ {{ timeSince(actor.indexedAt) }}</p>
      </div>
    </ng-container>
  </ion-card-header>
  <ion-card-content>
    <p *ngIf="_thread()?.parent" class="replied-to">
      <ion-icon name="arrow-undo"></ion-icon>
      Replied to {{ _thread()?.parent?.author.displayName | json }}
    </p>

    <p [innerHTML]="record().text"></p>
    <ng-container *ngIf="embeds()?.images?.length">
      <div class="embed-wrapper">
        <div class="img-wrapper" *ngFor="let img of embeds().images">
          <img [src]="img.thumb" [alt]="img.alt" />
        </div>
      </div>
    </ng-container>
  </ion-card-content>
  <ion-buttons>
    <ion-button (click)="reply()" fill="clear" color="dark"
      ><ion-icon name="chatbox-outline" slot="start" />
      {{ _post()?.replyCount }}
    </ion-button>

    <ion-button
      (click)="repost($event)"
      fill="clear"
      color="dark"
      [ngClass]="{ 'user-repost': _post()?.viewer?.repost }"
    >
      <ion-icon
        [name]="(_post()?.viewer)!.like! ? 'repeat' : 'repeat-outline'"
        slot="start"
      />
      {{ _post()?.repostCount }}
    </ion-button>

    <ion-button
      (click)="toggleLike($event)"
      fill="clear"
      color="dark"
      [ngClass]="{ 'user-liked': _post()?.viewer?.like }"
    >
      <ion-icon
        [name]="(_post()?.viewer)!.like! ? 'heart' : 'heart-outline'"
        slot="start"
      />
      {{ _post()?.likeCount }}
    </ion-button>
  </ion-buttons>
</ion-card>
