:host {
  display: block;
  ion-buttons {
    justify-content: space-around;
    padding: 8px;
  }

  ion-card-header {
    display: flex;
    flex-direction: row;
    gap: 20px;

    ion-avatar{
      width: 48px;
      height: 48px;
    }
  }



  ion-buttons{
    ion-button{



      &.user-liked{
       ion-icon{
          color: rgb(236, 72, 153);
        }
      }
    }
  }

}
