<ion-item>
  <div class="avatar-grid" slot="start">
    <ion-avatar *ngFor="let notif of data?.datas?.slice(0, 4)">
      <img [src]="notif.author.avatar" alt="" width="40" height="40" />
    </ion-avatar>
  </div>
  <ion-label>
    <h2>{{ textPrefix }}</h2>
    <p>
      <ion-icon name="arrow-undo" /> Replied to
      <strong> {{ post().author.displayName }} </strong>
    </p>
    <p class="post-content">{{ post().record.text }}</p>
    <ng-container *ngIf="embeds(); let embeds">
      <div class="embed-wrapper">
        <div class="img-wrapper" *ngFor="let img of embeds.images">
          <img [src]="img.thumb" alt="" />
        </div>
      </div>
    </ng-container>
  </ion-label>
</ion-item>
