:host {
  ion-content {
    &::part(scroll){
      padding-top: 0px;
    }
  }
  .detail-header {
    position: relative;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-bottom: 30px;
    transition: all 0.3s;

    &:before {
      opacity: 1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // background-color: rgb(0, 112, 255);
      transition: all 0.3s;
    }

    &.expanded {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.9);
      height: 100%;
      z-index: 100;

      &::before {
        opacity: 0;
      }

      div.avatar-container {
        opacity: 0;
      }
    }

  }
  .actor-bio{
    position: relative;
    ion-avatar {
      position: absolute;
      overflow: visible;
      top: -60px;
      left: 16px;
      width: 80px;
      height:80px;

      img.medium-img {
        position: relative;
        height: 72px;
        width: 72px;
        border-radius: 100%;
        border: 3px solid white;
      }
    }

  }
  h1 {
    margin-bottom: 0;
  }
}
