<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="transparent">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed="true">
  <ng-container *ngIf="actor(); let actor">
    <div
      class="detail-header"
      [ngStyle]="{
        'background-image': actor.banner ? 'url('+ actor.banner + ')' : null,
        'background-color': actor.banner ? null: 'rgb(0, 112, 255)'
      }"
    >
      <ion-avatar>
        <img
          [src]="actor.avatar"
          loading="lazy"
          alt=""
          width="150"
          height="150"
        />
      </ion-avatar>
    </div>
    <div class="actor-bio ion-padding">
      <h1>{{actor.displayName}}</h1>
      <small>{{actor.handle}}</small>
      <p>
        <strong>{{actor.followersCount}}</strong> followers
        <strong>{{actor.followersCount}}</strong> following
        <strong>{{actor.postsCount}}</strong> posts
      </p>
      <p [innerText]="actor.description"></p>
    </div>
  </ng-container>

    <post-card
      *ngFor="let post of timeline()"
      [post]="post.post"
      [routerLink]="['post', post.post.uri.split('/').pop()]"
      [relativeTo]="route"
    />
  </ion-grid>
</ion-content>
