<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Feed</ion-title>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button fill="clear">
          <ion-avatar style="width: 24px; height: 24px" slot="icon-only">
            <img [src]="actor()?.avatar" alt="" />
          </ion-avatar>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Feed</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid fixed="true">
    <post-card
      *ngFor="let post of feed()"
      [post]="post"
      [routerLink]="'/app/home/' + post.post.author.handle + '/post/' + post.post.uri.split('/').pop()"
    />
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" edge="false">
    <ion-fab-button id="author-post">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-modal trigger="author-post">
  <ng-template>
    <compose-modal />
  </ng-template>
</ion-modal>
