<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="transparent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed="true">
    <!-- <pre>{{parents() | json}}</pre> -->
    <ng-container *ngFor="let rents of parents()">
      <post-card class="previous" [post]="rents" />
    </ng-container>

    <post-card
      *ngIf="mainPost(); let mainPost"
      [post]="mainPost"
      class="main-post"
      (onPostLoad)="scrollInToView($event)"
    />

    <!-- <ng-container *ngFor="let reply of replis()"> -->
    <!--   <post-card class="reply" [post]="reply" /> -->
    <!-- </ng-container> -->
  </ion-grid>
</ion-content>
