<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="transparent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed="true" style="margin-bottom: 50vh">
    <ng-container *ngIf="parents().length > 0">
      <post-card  *ngFor="let rents of parents()" class="previous" [post]="rents" />
    </ng-container>

    <post-card
      *ngIf="mainPost(); let mainPost"
      [post]="mainPost"
      class="main-post"
      (onPostLoad)="scrollInToView($event)"
    />

    <ng-container *ngIf="replis().length > 0">
      <post-card  *ngFor="let reply of replis()" class="reply" [post]="reply" />
    </ng-container>
  </ion-grid>
</ion-content>
